* {
  font-family: sans-serif;
}

a.remove {
  text-decoration: none;
  background-color: #44c767;
  border-radius: 15px;
  border: 1px solid #18ab29;
  display: inline-block;
  color: #ffffff;
  padding: 0.2em 0.5em;
  margin-bottom: 0.1em;
}

a.remove:hover {
  background-color: #c74462;
  border-color: #581a28;
}

a.remove.disabled, a.remove.disabled:hover {
  background-color: gray;
  color: #ffffff;
  border: 1px solid black;
  pointer-events: none;
}

a.select-all {
  color: inherit;
  text-decoration: none;
  outline: none;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0em;
}

h1 {
  margin-bottom: 0.2em;
}

input {
  outline: none;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#unexpired {
  padding-top: 2em;
  color: gray;
}
